<div class="flexLayout flexDirectionColumn flexJustifyCenter flexAlignCenter marginLeft0_5">
    <div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1 marginTop0_5">
        <div class="circleButton marginLeft0_5" style="display: inline-block;"
             ng-click="panel.callActorService(component, 'openForTime')">
            <i class="fa fa-car fa-1x"></i>
        </div>

        <div class="flexLayout flexDirectionColumn flexJustifyCenter flexAlignCenter marginLeft0_5">
                <div class="flexGrow1 flexAlignTop marginLeft0_5">
                    <div class="flexGrow1 flexAlignTop marginLeft0_5" style="display: inline-block;"
                         ng-if="!component._state.gateStatus" class="lightPrimaryColor">
                        <span class="fa-stack fa-2x">
                        <i class="fa fa-road fa-2x fa-stack-1x" style="color:darkgray;"></i>
                        <i class="fa fa-ban fa-2x fa-stack-2x" style="color:red;"></i>
                    </span>
                    </div>
                </div>

            <div class="flexGrow1 flexAlignTop marginLeft0_5">
                <div class="flexGrow1 flexAlignTop marginLeft0_5" style="display: inline-block;"
                     ng-if="component._state.gateStatus" class="lightPrimaryColor">
                        <span class="fa-stack fa-2x">
                        <i class="fa fa-road fa-2x fa-stack-1x" style="color:darkgray;"></i>
                        <i class="fa fa-arrow-circle-o-up fa-2x fa-stack-2x" style="color:lawngreen;"></i>
                    </span>
                </div>
            </div>


        </div>
    </div>
</div>
