<div class="flexLayout flexDirectionColumn flexJustifyCenter flexAlignCenter">
    <div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1">
        <div class="circleButton marginLeft0_5" style="display: inline-block;"
             ng-click="panel.callActorService(component, 'openForTime')">
            <i class="fa fa-car"></i>
        </div>

        <div class="marginLeft0_5 flexGrow1">
            <span ng-if="component._state.gateClosed" class="lightPrimaryColor">
                <i class="fa-stack fa-lg"></i>
                <i class="fa fa-road fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x" style="color:red;"></i>
            </span>
            <span ng-if="component._state.gateOpen" class="lightPrimaryColor">
                <i class="fa-stack fa-3x"></i>
                <i class="fa fa-road fa-stack-1x"></i>
                <i class="fa fa-check fa-stack-2x" style="color:green;"></i>
            </span>
        </div>
    </div>
</div>

