<div class="flexLayout flexDirectionColumn flexJustifyCenter flexAlignCenter marginLeft0_5">
    <div class="flexLayout flexAlignCenter flexJustifyCenter flexGrow1 marginTop0_5">
        <div class="flexLayout flexDirectionColumn flexJustifyCenter flexAlignCenter marginLeft0_5">
            <div class="flexGrow1 flexAlignTop marginLeft0_5">
                <div class="flexGrow1 flexAlignTop marginLeft0_5" style="display: inline-block;"
                     ng-if="!component._state.motion" class="lightPrimaryColor">
                        <i class="fa fa-male fa-2x" style="color:lightgray;"></i>
                </div>
            </div>
            <div class="flexGrow1 flexAlignTop marginLeft0_5">
                <div class="flexGrow1 flexAlignTop marginLeft0_5" style="display: inline-block;"
                     ng-if="component._state.motion" class="lightPrimaryColor">
                        <i class="fa fa-child fa-2x" style="color:slategrey;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
