<table class="formTable">
    <tr valign="top">
        <td>
            <div class="circleButton" ng-click="panel.callActorService(component, 'powerOn')"><i
                    class="fa fa-power-off"></i></div>
        </td>
        <td>{{actor.__state.channel}}</td>
        <td>
            <table style="margin-left: 20px;">
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">1</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">2</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">3</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">4</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">5</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">6</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">7</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">8</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">9</div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">0</div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="margin-left: 20px;">
                <tr>
                    <td align="center">
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')">+</div>
                    </td>
                </tr>
                <tr>
                    <td align="center">VOL</td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelDown')">-</div>

                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="margin-left: 10px;">
                <tr>
                    <td align="center">

                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelUp')"><i
                                class="fa fa-chevron-up"></i></div>

                    </td>
                </tr>
                <tr>
                    <td align="center">CH</td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="circleButton" ng-click="panel.callActorService(component, 'channelDown')"><i
                                class="fa fa-chevron-down"></i></div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

